DB_URL=jdbc:mysql://<host>:<port>/genesis_mobile?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useUnicode=true&allowPublicKeyRetrieval=true
DB_USERNAME=<username>
DB_PASSWORD=<password>
